@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Custom Scrollbar for code blocks */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-default::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-default::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
}
